{% extends 'main.html' %}
{% block content %}

<style>

    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

</style>
    <h1>Welcome to the home page</h1>
<div class="home-container">

    <div>
        {% include 'base/topics_component.html' %}
    </div>

    <div>
        <h5>{{ room_count }} rooms available</h5>
        <a href="{% url 'create-room' %}">Create Room</a>

        {% include 'base/feed_component.html' %}

    </div>

    <div>
        {% include 'base/activity_component.html' %}
    </div>

</div>
{% endblock content %}
