{% extends 'main.html' %}

{% block content %}

<div>
    <form method="POST" action="">

        {% csrf_token %}
        {{form}}
        <input type="submit" value="submit" />
    </form>
</div>

{% endblock %}